<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des articles</title>
</head>
<body>
<h2>Liste des articles</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Contenu</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.titre}"></td>
        <td th:text="${article.contenu}"></td>
    </tr>
    </tbody>
</table>

<h2>Créer un article</h2>
<a th:href="@{/register-article}">Ajouter un nouvel article</a>

</body>
</html>